<!-- wp:template-part {"slug":"header","theme":"sociatic","area":"uncategorized"} /-->

<!-- wp:pattern {"slug":"sociatic/sociatic-core-page"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"100px","right":"20px","bottom":"100px","left":"20px"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="padding-top:100px;padding-right:20px;padding-bottom:100px;padding-left:20px"><!-- wp:post-content {"style":{"typography":{"fontSize":"16px","fontStyle":"normal","fontWeight":"400"}},"fontFamily":"hind-siliguri"} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"sociatic","area":"uncategorized"} /-->