<!-- wp:template-part {"slug":"header","theme":"sociatic","area":"uncategorized"} /-->

<!-- wp:pattern {"slug":"sociatic/sociatic-gutenverse-page-hero"} /-->

<!-- wp:gutenverse/post-content {"elementId":"guten-OWZ7BE","typography":{"type":"variable","id":"a0sRlN","font":{"label":"Hind Siliguri","value":"Hind Siliguri","type":"google"},"size":{"Desktop":{"point":"16","unit":"px"}},"weight":"400"},"color":{"type":"variable","id":"RmOH1N"},"margin":{"Desktop":[]},"padding":{"Desktop":{"unit":"px","dimension":{"top":"100","bottom":"100"}}}} -->
<div class="guten-element guten-post-content guten-OWZ7BE"></div>
<!-- /wp:gutenverse/post-content -->

<!-- wp:template-part {"slug":"footer","theme":"sociatic","area":"uncategorized"} /-->