<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:pattern {"slug":"sociatic/sociatic-sociatic-gutenverse-page-hero"} /-->

<!-- wp:gutenverse/section {"width":{"Desktop":"1190"},"gap":"no","elementId":"guten-xABvLa","margin":{"Desktop":[],"Tablet":[],"Mobile":[]},"padding":{"Desktop":{"unit":"px","dimension":{"top":"100","bottom":"100"}},"Tablet":{"unit":"px","dimension":{"right":"20","left":"20"}},"Mobile":{"unit":"px","dimension":{"top":"50","right":"","bottom":"50","left":""}}}} -->
<!-- wp:gutenverse/column {"width":{"Desktop":100},"elementId":"guten-pMDAKq","margin":{"Desktop":{"unit":"px","dimension":{"top":"0","bottom":"0"}}},"padding":{"Desktop":[]}} -->
<!-- wp:post-content /-->
<!-- /wp:gutenverse/column -->
<!-- /wp:gutenverse/section -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->