/* CUSTOM CORE CLASSES */

body .is-style-custombuttonstyle1 .wp-block-button__link {
    color: var(--wp--preset--color--gv-color-primary);
    font-family: "Hind Siliguri";
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    padding: 15px 32px;
    background-color: var(--wp--preset--color--white);
    border-radius: 100px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--wp--preset--color--gv-color-primary);
    transition: color 0.5s, background-color 0.5s, border-radius 0.5s;

}

body .is-style-custombuttonstyle1:hover .wp-block-button__link {
    color: var(--wp--preset--color--white);
    background-color: var(--wp--preset--color--gv-color-primary);
}

body .is-style-custombuttonstyle2 .wp-block-button__link {
    color: var(--wp--preset--color--white);
    font-family: "Hind Siliguri";
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    padding: 18px 36px;
    background-color: var(--wp--preset--color--gv-color-primary);
    border-radius: 100px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--wp--preset--color--gv-color-primary);
    transition: color 0.5s, background-color 0.5s, border-radius 0.5s;

}

body .is-style-custombuttonstyle2:hover .wp-block-button__link {
    background-color: var(--wp--preset--color--gv-color-accent-hover);
    border-radius: 100px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--wp--preset--color--gv-color-accent-hover);
}

body .is-style-custombuttonstyle3 .wp-block-button__link {
    color: var(--wp--preset--color--white);
    font-family: "Hind Siliguri";
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    padding: 18px 36px;
    background-color: var(--wp--preset--color--gv-color-primary);
    border-radius: 100px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--wp--preset--color--gv-color-primary);
    transition: color 0.5s, background-color 0.5s, border-radius 0.5s;

}

body .is-style-custombuttonstyle3:hover .wp-block-button__link {
    background-color: var(--wp--preset--color--gv-color-accent-hover);

}

body .is-style-custombuttonstyle4 .wp-block-button__link {
    width: 100%;
    color: var(--wp--preset--color--white);
    font-family: "Hind Siliguri";
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    padding: 18px 36px;
    background-color: var(--wp--preset--color--gv-color-primary);
    border-radius: 100px;
    transition: color 0.5s, background-color 0.5s, border-radius 0.5s;
}

body .is-style-custombuttonstyle4:hover .wp-block-button__link {
    background-color: var(--wp--preset--color--gv-color-accent-hover);
}

body .is-style-custombuttonstyle5 .wp-block-button__link {
    width: 100%;
    color: var(--wp--preset--color--gv-color-primary);
    font-family: "Hind Siliguri";
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    padding: 18px 36px;
    background-color: var(--wp--preset--color--white);
    border-radius: 100px;
    transition: color 0.5s, background-color 0.5s, border-radius 0.5s;
}

body .is-style-custombuttonstyle5:hover .wp-block-button__link {
    color: var(--wp--preset--color--white);
    background-color: var(--wp--preset--color--gv-color-text-primary);
}

body .is-style-customboxshadow {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0px 1px 35px rgb(165 62 3 / 10%);
    margin-bottom: 40px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    padding-left: 40px;

}

body .is-style-custombox {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

body .wp-block-post-comments {
    background-color: var(--wp--preset--color--white);
    padding: 0px;
    border: none;
    border-radius: 0px;
}

body .wp-block-post-comments h2 {
    font-family: "mulish";
    font-size: 26px;
    line-height: 1.2;
    font-weight: bold;
    color: var(--wp--preset--color--gv-color-text-primary);
    margin-bottom: 20px;
}

body .wp-block-post-comments p {
    font-family: "Hind Siliguri";
    font-size: 16px;
    line-height: 1.5;
    color: #5b5a67;
    margin-top: 10px;
    margin-bottom: 20px;
}

.wp-block-post-comments label {
    display: block;
    font-family: "Hind Siliguri";
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 8px;
    font-weight: normal;
    color: var(--wp--preset--color--gv-color-text-primary);
}

.wp-block-post-comments [class^="comment-form-"] input:not([type=checkbox]) {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #e8e8e8;
    margin-bottom: 10px;
    font-size: 16px;
}

.wp-block-post-comments textarea {
    width: 100%;
    padding: 10px;
    background-color: var(--wp--preset--color--white);
    border-radius: 20px;
    border: 1px solid #e8e8e8;
    font-size: 16px;
    resize: vertical;
    min-height: 100px;
}

body .wp-block-post-comments input[type=submit] {
    margin-top: 0px;
    background-color: var(--wp--preset--color--gv-color-primary);
    color: var(--wp--preset--color--white);
    font-family: "Hind Siliguri";
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    padding: 15px 32px;
    border-radius: 100px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--wp--preset--color--gv-color-primary);

}

body .wp-block-post-comments [type=submit]:hover {
    background-color: var(--wp--preset--color--gv-color-accent-hover);
    border-radius: 100px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--wp--preset--color--gv-color-accent-hover);
}

body .wp-block-query-pagination.block-editor-block-list__layout {
    margin: 0;
    gap: 20px;
}

body .wp-block-post-template.block-editor-block-list__layout {
    margin-bottom: 10px;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    background-color: var(--wp--preset--color--white);
}

body.sociatic-img-radius-top-left-10 img {
    border-top-left-radius: 10px;
}

body.sociatic-img-radius-top-right-10 img {
    border-top-right-radius: 10px;
}

body.sociatic-img-radius-bottom-right-10 img {
    border-bottom-right-radius: 10px;
}

body.sociatic-img-radius-bottom-left-10 img {
    border-bottom-left-radius: 10px;
}

body.sociatic-absolute {
    position: absolute !important;
}

@media (max-width: 1024px) {
    body .hide-in-tablet {
        display: none !important;
    }
}

@media (max-width: 767px) {
    body .hide-in-mobile {
        display: none !important;
    }
}

@media only screen and (max-width: 599px) {
   .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation__container {
      align-items: flex-start;
      width: 100%;
      gap: 25px;
  
    }
    
    li.wp-block-navigation-item.has-child.open-on-hover-click.wp-block-navigation-submenu {
      align-items: flex-start;
      width: 100%;
      gap: 15px;
  
    }
}

@media only screen and (min-width: 600px) {

    .wp-block-navigation.is-style-customnav>.wp-block-navigation-item,
    .wp-block-navigation.is-style-customnav .wp-block-navigation__container>.wp-block-navigation-item {
        height: 70px;
        color: var(--wp--preset--color--gv-color-text-primary);
        transition: color 0.5s, background-color 0.5s, border-radius 0.5s;
    }

    .wp-block-navigation.is-style-customnav .wp-block-navigation__container>.wp-block-navigation-item:hover {
        color: var(--wp--preset--color--gv-color-primary);
      
   }
    .wp-block-navigation:not(.has-background) .wp-block-navigation__submenu-container {
        width: 350px;
        background-color: var(--wp--preset--color--white);
        border: none;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        padding-top: 15px;
        padding-right: 20px;
        padding-bottom: 15px;
        padding-left: 15px;
        box-shadow: 0px 4px 15px rgba(165, 62, 3, 0.1);
      
    }
    .wp-block-navigation:not(.has-background) .wp-block-navigation__submenu-container>.wp-block-navigation-item:hover {
        color: var(--wp--preset--color--gv-color-primary);
    }
    
    .wp-block-navigation .wp-block-navigation__submenu-icon {
        align-self: center;
        background-color: inherit;
        color: var(--wp--preset--color--gv-color-text-primary);
        display: inline-block;
        font-size: 28px;
        height: 0.6em;
        line-height: 0;
        margin-left: 0.25em;
        padding: 0;
        width: 0.6em;
}

body .wp-block-cover .wp-block-cover__image {
    border-radius: 20px;
}

body .scrollable-element {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

body .sociatic-to-bottom {
    scroll-behavior: smooth;
}

.wp-block-query-pagination .wp-block-query-pagination-numbers {
margin: 0 3px;
display: inline-block;
}

.wp-block-query-pagination .page-numbers,
.wp-block-query-pagination .wp-block-query-pagination-next,
.wp-block-query-pagination .wp-block-query-pagination-previous{
margin: 0 6px;
}